// .footer-subcription {
//   margin-left: auto;
// }
// .subcription-form {
//   display: flex;
//   align-items: baseline;
// }

.subcription-form {
  @media screen and (min-width: 0px) and (max-width: 767.98px) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding-bottom: 50px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
    align-items: baseline;
  }
}

.footer-subcription__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-text-color);
  @media screen and (min-width: 0px) and (max-width: 767.98px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    text-align: center;
  }
}
.subcription-form__email {
  height: 50px;
  max-width: 450px;
  padding-left: 16px;

  font-family: Roboto;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition-property: box-shadow;
  transition: 250ms var(--timing-function);

  background-color: inherit;
  color: #ffffff;

  @media screen and (min-width: 0px) and (max-width: 767.98px) {
    width: 100%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    box-shadow: var(--shadow-litle);
  }
}
.subcription-form--disposition {
  position: relative;
}
// .subcription-form__icon {
//   position: absolute;
//   left: 158px;
//   top: 50%;
//   transform: translateY(-50%);
// }
