.menu {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 48px;
  padding-bottom: 40px;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-bg-color);
  @media screen and (min-width: 0px) and (max-width: 767.98px) {
    display: none;
  }
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  color: var(--title-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-contacts-list__item:last-child {
  margin-bottom: 64px;
}
.menu-contacts-list__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--accent-color);
}
.menu-contacts-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}
.menu-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--accent-color);
}
.menu-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.social-line {
  margin: 0px, 10px;
}
.menu-social-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-social-list__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-button {
  display: flex;
  appearance: none;
  border: none;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
  z-index: 101;

  // position: sticky;
  // top: 10px;
  // right: 15px;

  &:hover .mobile-button--disposition,
  &:focus .mobile-button--disposition {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-button--disposition {
  padding-top: 12px;
  padding-left: 8px;
}
.mobile-button.is-open .icon-menu-close {
  display: block;
}
.mobile-button.is-open .icon-menu-burger {
  display: none;
}
.mobile-button .icon-menu-close {
  display: none;
}

.is-open {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.icon-menu-burger,
.icon-menu-close {
  transition: fill 250ms var(--timing-function);
}
