.cards-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--item-interval));
}

.cards-work__item {
  border: 1px solid #eeeeee;

  background-color: var(--primary-bg-color);

  @media screen and (min-width: 0px) and (max-width: 767.98px) {
    margin-bottom: var(--item-interval);
    margin-left: var(--item-interval);
    flex-basis: calc(100% / 1 - var(--item-interval));
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-left: var(--item-interval);
    flex-basis: calc(100% / 2 - var(--item-interval));
    &:nth-of-type(-n + 8) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: var(--item-interval);
    flex-basis: calc(100% / 3 - var(--item-interval));
    &:nth-of-type(-n + 6) {
      margin-bottom: 30px;
    }
  }
}

.cards-work__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.cards-work__link {
  width: 100%;
  text-decoration: none;
  height: auto;
  display: block;

  color: var(--primary-text-color);
  &:hover,
  &:focus {
    box-shadow: var(--shadow-litle);
  }
  &:hover .cards-work__thumb,
  &:focus .cards-work__thumb {
    transform: translateY(0);
  }
}

.cards-work__image {
  display: block;
  width: 100%;
  height: auto;
}

.cards-work__overlay {
  position: relative;
  overflow: hidden;
}
.cards-work__thumb {
  display: inline-block;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;

  transition: transform 250ms var(--timing-function);
}

.cards-work__text {
  width: 322px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: var(--primary-bg-color);
}
.cards-work__description {
  margin: 0;
}
.cards-work--disposition {
  padding: 20px 24px;
}
