.features__name {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.features__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--item-interval));
  & .features__item:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .features__item:nth-of-type(3n) {
      margin-bottom: 0;
    }
  }

  & .features__item {
    margin-left: var(--item-interval);
    margin-bottom: var(--item-interval);
    @media screen and (min-width: 480px) and (max-width: 767px) {
      flex-basis: calc(100% / 1 - var(--item-interval));
      margin-bottom: var(--item-interval);
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      flex-basis: calc(100% / 2 - var(--item-interval));
      margin-bottom: var(--item-interval);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - var(--item-interval));
      margin-bottom: 0;
    }
  }

  .features__background {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: 30px;

    width: 100%;
    height: 120px;

    background-color: var(--section-bg-color);
    border-radius: 4px;
  }
}
