.header {
  display: flex;
}
.header--border {
  border-bottom: 1px solid #ececec;
}

.site-navigation {
  display: flex;
}

.navigation {
  align-items: center;
  display: flex;
  margin-left: 93px;
}
.navigation__item + .navigation__item {
  padding-left: 50px;
}

.header-contacts {
  margin-left: auto;
  align-items: center;
  display: flex;
}
.header-contacts__list {
  display: flex;
  align-items: center;
}
.header-contacts__icon {
  fill: currentColor;
  box-sizing: content-box;
  padding-right: 10px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-contacts__item:hover,
.header-contacts__item:focus {
  fill: var(--accent-color);
}
.header-contacts__item + .header-contacts__item {
  padding-left: 50px;
}

.header-contacts__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.navigation__link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
  &::after {
    content: '';

    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);

    transition: transform 250ms var(--timing-function);
  }
}

.navigation.current-line {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.navigation__link:not(.current-line)::after {
  transform: scaleX(0);
}
.navigation__link:hover:after,
.navigation__link:focus:after {
  transform: scaleX(1);
}
