.primary-filter__list {
  justify-content: center;
  display: flex;

  @media screen and (min-width: 0px) and (max-width: 767.98px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.primary-filter__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  & + .primary-filter__item {
    margin-left: 8px;
  }
}
