.team-block__name {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-blok__description {
  margin-bottom: 16px;
}
.team-card {
  display: flex;
  justify-content: center;

  padding-bottom: 24px;

  color: #afb1b8;
}
.team-block__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--item-interval));
}
.team-block__item {
  text-align: center;

  box-shadow: var(--shadow-big);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--second-text-color);

  @media screen and (min-width: 0px) and (max-width: 767.98px) {
    margin-left: var(--item-interval);
    margin-bottom: var(--item-interval);
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    margin-left: var(--item-interval);
    flex-basis: calc(100% / 1 - var(--item-interval));
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-left: var(--item-interval);
    flex-basis: calc(100% / 2 - var(--item-interval));
    &:nth-of-type(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: var(--item-interval);
    flex-basis: calc(100% / 4 - var(--item-interval));
  }
}
.team-block__image {
  margin-bottom: 30px;
}

.team-block__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-card__link {
  width: 44px;
  height: 44px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  fill: currentColor;

  color: #afb1b8;

  transition-property: fill, color;
  transition: 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-bg-color);
    box-shadow: var(--shadow-litle);
  }
  & + .team-card__link {
    margin-left: 10px;
  }
}
.team-card__icon {
  display: flex;

  justify-content: center;
  align-items: center;

  background-size: contain;
}
